html, body {
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
    font-family: "Monument Extended";
    font-weight: 300;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    pointer-events: none;
    transition: transform 0.1s linear;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

body {
    background: radial-gradient( #b9540b, #1a45bc);
    background-size: 40% 400%;
    animation: gradient 15s infinite;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
}


h1 {
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 20px;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.1), rgba(245, 5, 5, 0));
    backdrop-filter: blur(4px);
    padding-top: 10%;
    padding-left: 100%;
    padding-right: 100%;
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

button {
    color: #0b2f6a;
    font-size: 24px;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: background 0.5s, color 0.3s;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.37);
}

button:hover {
    background: rgb(71, 8, 75);
    color: #ffffff;
}

header img {
    height: 3px;
    margin-left: 10px;
}

header {
    padding: 50px 150px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
}

.home {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

header a {
    color: #ffc800; 
    padding: 10px; 
}

header img {
    height: 43px; 
    margin-left: 10px; 
}

/* Style the footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(135deg, #0e7131, #2e2453);
    color: #fff;
    padding: 10px;
    font-size:large;
    text-align: center;
    z-index: 1;
}

/* Style the footer image */
footer img {
    height: 20px;
    margin-left: 0px;
    margin-bottom: -4px;
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
    /* Your styles here */
    body {
      font-size: 14px;
    }
    .container {
      width: 90%;
    }
    /* Add more styles as needed */
  }
  